*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background: #000;
}

a {
    text-decoration: none;
    color: #6a1b9a;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .hero {
        min-height: 60vh;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .products-grid {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    .nav-links {
        display: none; /* luego si quieres hamburguesa */
    }
}
