@import url("base.css");
@import url("layout.css");
@import url("components.css");
@import url("pages.css");


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buscador {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.usuario-nav {
    margin-left: auto; /* 👈 empuja a la derecha */
}
